/*Header and Navbar*/
.navbar-menu{
    border-top: 0px solid var(--off-withe);
}

/*us*/
.us{
    height: 40vh;
}
.us h2{
    top: 40%;
    font-size: 4rem;
    line-height: 3.5rem;
    left: calc(50% - 236px);
}

/*Who*/
.who--yim{
    width: 30%;
}
.who--yim img{
    width: 236px;
    height: 90px;
    padding: 5px 0;
}
.who--text{
    width: 60%;
}

/*Identity*/
.values .asignation{
    display: flex;
}
.values section{
    display: flex;
}
.values div{
    width: 40%;
    margin: 0 auto;
}