:root{
    /*Colors*/
--yim-green: #33cc99;
--dark-green: #427866;
--soft-green: #bafce6;
--secondary-blue: #32D0FC;
--soft-blue: #e7f5ff;
--warm-black: #201e1c;
--black: #282623;
--gray: #bababa;
--off-withe: #faf8f7;
--withe: #fff;
    /*Fonts*/
--DM-sans: ‘DM Sans’, sans-serif;
--Lato: 'Lato', sans-serif;
}

/*Basic configuration*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--Lato);
    background-color: var(--off-withe);
}

/*Header and Navbar*/
header{
    background-color: var(--yim-green);
    width: 100%;
    height: 72px;
    min-width: 280px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-logo{
    width: 189px;
    height: 72px;
    padding: 5px 0;
    margin-left: 5px;
}
.navbar-logo img{
    width: 189px;
    height: 72px;
    padding: 5px 0;
    margin-left: 5px;
}
.navbar-hamburger{
    /*This won't be shown in desktop view*/
    background: none;
    border: none;
    padding: 0 15px;
    display: block;
}
.navbar-hamburger i{
    width: 40px;
    color: var(--off-withe);
    font-size: 3rem;
}
.navbar-menu{
    flex-direction: column;
    list-style: none;
    align-items: center;
    background-color: var(--yim-green);
    position: absolute;
    text-align: center;
    left: 0;
    top: 71px;
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding: 20px 0;
    /*This will move the options out of the view of the tablet*/
    border-top: 1px solid var(--off-withe);
    transition: left 0.s;
}
.navbar-menu li a{
    color: var(--off-withe);
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    width: max-content;
}
.navbar-menu li{
    padding: 20px 13px;
    margin-right: 0px;
}
.navbar-menu a:hover{
    color: var(--dark-green);
    transition: 0.5s;
}
.navbar-menu_unvisible{
    left: -100%;
    transition: left 0.0s;
}

/*Us*/
.us:first-child{
    background: url('https://i.postimg.cc/4yjrY4X9/us.jpg') no-repeat center top/cover;
}
.us{
    position: relative;
    width: 100%;
    margin: 0 -100%;
    min-width: 280px;
    height: 30vh;
}
.us__visible{
    margin: 0 0%;
}
.us img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.us h2{
    position: absolute;
    top: 30%;
    padding: 10px;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--dark-green);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    text-align: center;
    left: calc(50% - 134px);
}

/*Who*/
.who{
    display: block;
    min-width: 280;
    height: auto;
    background-color: var(--off-withe); 
}
.who--yim{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.who--yim img{
    width: 189px;
    height: 72px;
    padding: 5px 0;
}
.who--text{
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
}
.who--text h2{
    padding: 10px 0;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    padding-top: 1.5rem;
    color: var(--yim-green);
    -webkit-text-stroke: .2px var(--black);
}
.who--text p{
    text-align: justify;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-top: 1.5rem;
    color: var(--warm-black);
}

/*Identity*/
.identity{
    display: block;
    min-width: 280;
    width: 100%;
    height: auto;
    background-color: var(--off-withe); 
}
.mision{
    width: 90%;
    text-align: justify;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: var(--yim-green);
    border-radius: 5px;
}
.mision h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    padding-top: 1.5rem;
    color: var(--off-withe);
    text-align: center;
    -webkit-text-stroke: .2px var(--black);
}
.mision p{
    text-align: justify;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 1.5rem 0;
    color: var(--off-withe);
}
.vision{
    width: 90%;
    text-align: justify;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: var(--yim-green);
    border-radius: 5px;
}
.vision h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    padding-top: 1.5rem;
    color: var(--off-withe);
    text-align: center;
    -webkit-text-stroke: .2px var(--black);
}
.vision p{
    text-align: justify;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 1.5rem 0;
    color: var(--off-withe);
}
.values{
    width: 90%;
    text-align: justify;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: var(--yim-green);
    border-radius: 5px;
}
.values h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    padding: 1.5rem 0;
    color: var(--off-withe);
    text-align: center;
    -webkit-text-stroke: .2px var(--black);
}
.values h3{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    padding-top: 1rem;
    color: var(--soft-green);
    text-align: center;
    -webkit-text-stroke: .2px var(--black);
}
.values p{
    text-align: justify;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 1.5rem 0;
    color: var(--off-withe);
}

/*Footer*/
footer{
    display: flex;
    width: 100%;
    min-width: 280px;
    height: 150px;
    background-color: var(--yim-green);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    list-style: none;
}
.left li{
    margin: 9px 0;
}
.left i{
    color: var(--off-withe);
    margin-left: 35px;
}
.left a {
    text-decoration: none;
    color: var(--off-withe);
}
.left a:hover{
    color: var(--dark-green);
}
.right img{
    width: 60px;
    height: 60px;
}

/*Media Queries*/
@media(min-width: 930px){
    /*Header and Navbar*/
    header{
        background-color: var(--yim-green);
        width: 100%;
        height: 80px;
        min-width: 768px;
    }
    .navbar-logo{
        width: 210px;
        height: 80px;
        padding: 5px 0;
        margin-left: 15px;
    }
    .navbar-hamburger{
        display: none;
    }
    .navbar-menu{
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: var(--yim-green);
        position: static;
        top: 0px;
        width: auto;
        height: auto;
        overflow-y: auto;
        padding: 0px;
        /*This will move the options to the header*/
        margin-top: 0px;
        transition: left 0.0s;
    }
}