/*us*/
.us:first-child{
    background: url('https://i.postimg.cc/4yjrY4X9/us.jpg') no-repeat center top/cover;
}
.us{
    height: 25vh;
}
.us h2{
    top: 40%;
    font-size: 3.5rem;
    line-height: 3rem;
    left: calc(50% - 207.5px);
}

/*Footer*/
footer{
    height: 100px;
}
footer .left ul{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    list-style: none;
}