/*us*/
.us{
    height: 25vh;
}
.us h2{
    top: 40%;
    font-size: 3.5rem;
    line-height: 3rem;
    left: calc(50% - 207.5px);
}

/*Who*/
.who{
    display: flex;
    min-width: 280;
    height: auto;
    background-color: var(--off-withe); 
}
.who--yim{
    width: 40%;
}
.who--yim img{
    width: 236px;
    height: 90px;
    padding: 5px 0;
}
.who--text{
    width: 50%;
}
/*Identity*/
.distribution {
    display: flex;
}
.mision{
    width: 45%;
}
.vision{
    width: 45%;
}
.values{
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 25px;
}
.values section{
    display: flex;
}
.values div{
    width: 45%;
    margin: 0 auto;
}


/*Footer*/
footer{
    height: 100px;
}
footer .left ul{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    list-style: none;
}