/*Header and Navbar*/
.navbar-menu{
    border-top: 0px solid var(--off-withe);
}

/*Contact*/
.container-contact{
    width: 50%;
    margin: auto 10px;
    text-align: center;
}

@media(min-width: 768px){
    .tablet{
        height: auto;
        width: 100%;
        display: flex;
    }
    .container{
        margin-top: 0rem;
    }
}