/*Header and Navbar*/
.navbar-menu{
    border-top: 0px solid var(--off-withe);
}

/*top*/
.top h1{
    font-size: 3.5rem;
}
.top p{
    font-size: 2.3rem;
}
.services-container{
    padding: 20px 0;
}
.sevices-detail--card{
    min-width: 320px;
    width: 300px;
    height: 80px;
    max-width: 400px;
    margin: 15px 5px;
}
.sevices-detail--card .service--card-tittle{
    font-size: 1.8rem;
}

/*Tenders*/
.left img{
    height: 200px;
}
.left h1{
    top: 35%;
    font-size: 3.5rem;
    line-height: 3rem;
    left: calc(50% - 108.5px);
}
.left h2{
    top: 35%;
    font-size: 3.5rem;
    line-height: 3rem;
    left: calc(50% - 108.5px);
}
.left .logistica{
    left: calc(50% - 198px);
}
.left .collection{
    left: calc(50% - 90px);
    top: 35%;
}.left .regulatory{
    left: calc(50% - 193px);
}
.right h2{
    font-size: 2.3rem;
    line-height: 2.3rem;
    padding-top: 2.2rem;
}
.right p{
    margin-top: 10px;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 1.8rem;
}
.right ul{
    width: 60%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-bottom: 1.4rem;
}
.right li{
    margin-bottom: 8px;
}