:root{
    /*Colors*/
--yim-green: #33cc99;
--dark-green: #427866;
--soft-green: #89F9D3;
--secondary-blue: #32D0FC;
--soft-blue: #e7f5ff;
--warm-black: #201e1c;
--black: #282623;
--gray: #bababa;
--off-withe: #faf8f7;
--withe: #fff;
    /*Fonts*/
--DM-sans: ‘DM Sans’, sans-serif;
--Lato: 'Lato', sans-serif;
}

/*Basic configuration*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--Lato);
    background-color: var(--off-withe);
}

/*Header and Navbar*/
header{
    background-color: var(--yim-green);
    width: 100%;
    height: 72px;
    min-width: 280px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-logo{
    width: 189px;
    height: 72px;
    padding: 5px 0;
    margin-left: 5px;
}
.navbar-hamburger{
    /*This won't be shown in desktop view*/
    background: none;
    border: none;
    padding: 0 15px;
    display: block;
}
.navbar-hamburger i{
    width: 40px;
    color: var(--off-withe);
    font-size: 3rem;
}
.navbar-menu{
    flex-direction: column;
    list-style: none;
    align-items: center;
    background-color: var(--yim-green);
    position: absolute;
    text-align: center;
    left: 0;
    top: 71px;
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding: 20px 0;
    /*This will move the options out of the view of the tablet*/
    margin-top: 3px;
    transition: left 0.s;
}
.navbar-menu li a{
    color: var(--off-withe);
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    width: max-content;
}
.navbar-menu li{
    padding: 20px 13px;
    margin-right: 0px;
}
.navbar-menu a:hover{
    color: var(--dark-green);
    transition: 0.5s;
}
.navbar-menu_unvisible{
    left: -100%;
    transition: left 0.0s;
}

/*Footer*/
footer{
    display: flex;
    width: 100%;
    min-width: 280px;
    height: 150px;
    background-color: var(--yim-green);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    list-style: none;
}
.left li{
    margin: 9px 0;
}
.left i{
    color: var(--off-withe);
    margin-left: 35px;
}
.left a {
    text-decoration: none;
    color: var(--off-withe);
}
.right img{
    width: 60px;
    height: 60px;
}


/*Media Queries*/
@media(min-width: 930px){
    /*Header and Navbar*/
    header{
        background-color: var(--yim-green);
        width: 100%;
        height: 80px;
        min-width: 768px;
    }
    .navbar-logo{
        width: 210px;
        height: 80px;
        padding: 5px 0;
        margin-left: 15px;
    }
    .navbar-hamburger{
        display: none;
    }
    .navbar-menu{
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: var(--yim-green);
        position: static;
        top: 0px;
        width: auto;
        height: auto;
        overflow-y: auto;
        padding: 0px;
        /*This will move the options to the header*/
        margin-top: 0px;
        transition: left 0.0s;
    }
}