/*Footer*/
footer{
    height: 100px;
}
footer .left ul{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    list-style: none;
}

/*top*/
.top h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    padding-bottom: 10px;
}
.top p{
    font-size: 1.8rem;
    font-weight: 500;
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
.sevices-detail--card{
    min-width: 350px;
    width: 350px;
    height: 90px;
    max-width: 400px;
    margin: 15px 15px;
}
.sevices-detail--card .service--card-tittle{
    font-size: 1.8rem;
}

/*Tenders*/
.left img{
    height: 150px;
}
.left h1{
    font-size: 2.2rem;
    top: 30%;
    left: calc(50% - 83.5px);
}
.left h2{
    top: 30%;
    left: calc(50% - 83.5px);
}
.left .logistica{
    top: 35%;
}
.left .collection{
    top: 35%;
}
.left .regulatory{
    top: 35%;
    left: calc(50% - 146px);
}
.right h2{
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding-top: 2rem;
}
.right p{
    margin-top: 10px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding-top: 1.5rem;
}
.right ul{
    width: 65%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding-bottom: 1.2rem;
}
.right li{
    margin-bottom: 8px;
}